name: Push stable
on:
  push:
    paths:
      - .github/workflows/push-stable.yaml
  pull_request:
    paths:
      - .github/workflows/push-stable.yaml
  workflow_dispatch:
    inputs:
      push:
        type: boolean
        default: false
        description: Should the image be pushed

env:
  IMAGE: ghcr.io/${{ vars.IMAGE_PROJECT || 'vshn' }}/kaniko
  PUSH: ${{ inputs.push || startsWith(github.ref, 'refs/heads/main') }}

jobs:
  # the latest of the flavor debug is called debug
  retag-nightly-to-latest:
    runs-on: ubuntu-22.04
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: retag image
        run: |
          # renovate: datasource=docker depName=ghcr.io/vshn/kaniko
          docker pull ${{ env.IMAGE }}:nightly-debug@sha256:16762bd49ad3cca7cbacd91f94de143419f5730ef949afab95926443928ee1f8
          # renovate: datasource=docker depName=ghcr.io/vshn/kaniko
          docker tag ${{ env.IMAGE }}:nightly-debug@sha256:16762bd49ad3cca7cbacd91f94de143419f5730ef949afab95926443928ee1f8 ${{ env.IMAGE }}:debug
          if [ "${{ env.PUSH }}" = "true" ]; then
            docker push ${{ env.IMAGE }}:debug
          fi
