name: Push stable
on:
  push:
    paths:
      - .github/workflows/push-stable.yaml
  pull_request:
    paths:
      - .github/workflows/push-stable.yaml
  workflow_dispatch:
    inputs:
      push:
        type: boolean
        default: false
        description: Should the image be pushed

env:
  IMAGE: ghcr.io/${{ vars.IMAGE_PROJECT || 'vshn' }}/kaniko
  PUSH: ${{ inputs.push || startsWith(github.ref, 'refs/heads/main') }}

jobs:
  # the latest of the flavor debug is called debug
  retag-nightly-to-latest:
    runs-on: ubuntu-24.04
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: retag image
        run: |
          # renovate: datasource=docker depName=ghcr.io/vshn/kaniko
          TAG="nightly-debug@sha256:c47607b20ac7a1c5ec5de5a9a112a832137ae2a402ac16e2bcde9ea43a7575c4"

          docker pull ghcr.io/vshn/kaniko:$TAG
          docker tag ghcr.io/vshn/kaniko:$TAG ${{ env.IMAGE }}:debug
          if [ "${{ env.PUSH }}" = "true" ]; then
            docker push ${{ env.IMAGE }}:debug
          fi
